<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <div>Prénom : </div>
            <div>{{firstname}}</div>
            <div>Nom : </div>
            <div>{{lastname}}</div>
            <div>Email : </div>
            <div>{{email}}</div>
            <button type="button" class="btn btn-primary">Modifier le mot de passe</button>

            <div>Abonnement : </div>
            <button type="button" class="btn btn-primary">Changer d'offre</button>
            <button type="button" class="btn btn-primary">Résilier</button>
        </div>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    export default {
        name: "Account",
        components: {Navbar},
        computed: {
            firstname(){
                return this.$store.state.firstname
            },
            lastname(){
                return this.$store.state.lastname
            },
            email(){
                return this.$store.state.email
            },
            password(){
                return this.$store.state.password
            }
        }
    }
</script>

<style scoped>

</style>