<template>
    <div>
        <Navbar></Navbar>
        <b-container>
            <b-row>
                <Product v-for="product in products" :product="product" :key="product.name"></Product>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    import Product from "./Product";
    export default {
        name: "Basket",
        components: {Product, Navbar},
        computed: {
            products() {
                return this.$store.state.products
            }
        }
    }
</script>

<style scoped>

</style>