<template>
    <div>
        <label>Modifier le jour de la livraison</label>
        <button type="button" class="btn btn-outline-primary">Modifier</button>
        <label>Reporter au mois suivant</label>
        <button type="button" class="btn btn-outline-primary">Reporter</button>
    </div>
</template>

<script>
    export default {
        name: "Calendar.vue"
    }
</script>

<style scoped>

</style>