<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" v-if="!paypalOrder" v-for="formula in formulas" :key="formula.name">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">{{formula.name}}</h5>
                            <h6 class="card-price text-center">{{formula.monthPrice}}€<span class="period">/mois</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Panier de {{formula.basketWeight}}kg</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{formula.basketPrice}}€ le panier</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase" v-on:click="order(formula)">Choisir cette formule</a>
                        </div>
                    </div>
                </div >
                <!--   l'annulation du paiment valide le traitement pour les besoin des tests  -->
                <PayPal
                    v-if="paypalOrder"
                    env="sandbox"
                    :amount="choosedFormula.monthPrice"
                    currency="EUR"
                    :client="credentials"
                    v-on:payment-completed="paymentCompleted"
                    v-on:payment-canceled="paymentCompleted">
                </PayPal>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    import PayPal from 'vue-paypal-checkout'
    export default {
        name: "Formula",
        components: {Navbar, PayPal},
        data() {
            return {
                formulas : [
                    {
                        name : "Petite formule",
                        basketPrice : 12.50,
                        basketWeight: 2.5,
                        monthPrice: 48.40
                    },
                    {
                        name : "Grande formule",
                        basketPrice : 24.90,
                        basketWeight: 7,
                        monthPrice: 111.60
                    }
                ],
                choosedFormula : {
                    name: "",
                    basketPrice: 0,
                    basketWeight : 0,
                    monthPrice: 0
                },
                paypalOrder : false,
                credentials: {
                    sandbox: 'AWi18rxt26-hrueMoPZ0tpGEOJnNT4QkiMQst9pYgaQNAfS1FLFxkxQuiaqRBj1vV5PmgHX_jA_c1ncL',
                    production: 'AVZhosFzrnZ5Mf3tiOxAD0M6NHv8pcB2IFNHAfp_h69mmbd-LElFYkJUSII3Y0FPbm7S7lxBuqWImLbl'
                }
            }
        },
        methods: {
            order(formula) {
                this.choosedFormula = formula;
                this.paypalOrder = true;
            },
            paymentCompleted() {
                this.$store.commit("setFormula", this.choosedFormula)
            }
        }
    }
</script>

<style scoped>

</style>