<template>
    <div id="vueApp">
        <div id="nav">
            <Navbar></Navbar>
        </div>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    export default {
        name: "Home",
        components: {Navbar},
    }
</script>

<style scoped>

</style>