<template>
    <div>
        <b-navbar
            toggleable="md"
            type="dark"
            variant="info">
            <b-navbar-brand :to="{ name: 'home' }">Accueil</b-navbar-brand>
            <b-navbar-nav>
                <b-nav-item v-if="!authenticated" :to="{ name: 'registration' }">Inscription</b-nav-item>
                <b-nav-item v-if="!authenticated" :to="{ name: 'connection' }">Connexion</b-nav-item>
                <b-nav-item v-if="authenticated" :to="{ name: 'formula' }">Abonnement</b-nav-item>
                <b-nav-item v-if="authenticated" :to="{ name: 'basket' }">Mon panier</b-nav-item>
                <b-nav-item v-if="authenticated" :to="{ name: 'account' }">Mon compte</b-nav-item>
                <b-nav-item v-if="authenticated" v-on:click="logout()">Déconnexion</b-nav-item>
            </b-navbar-nav>
        </b-navbar>
        <br><br>
    </div>
</template>

<script>
    export default {
        name: "Navbar",
        computed: {
            authenticated() {
                return this.$store.state.authenticated
            }
        },
        methods: {
            logout() {
                this.$store.commit("setAuthenticated", false);
                if ( this.$route.name !== "home"){
                    this.$router.replace({name: "home"});
                }
            }
        }
    }
</script>

<style scoped>

</style>