<template>
    <div class="product">
        <img class="product-image" :src="getImgUrl(product.name)" :alt=product.name>
        <h3>{{product.name}}</h3>
        <p>{{product.weight}}g</p>
        <b-row>
            <b-button variant="danger" v-on:click="decrement()">-</b-button>
            <p> {{product.count}} </p>
            <b-button variant="success" v-on:click="increment()">+</b-button>
        </b-row>
    </div>
</template>

<script>
    export default {
        name: "Product",
        props: ['product'],
        methods: {
            getImgUrl (productName) {
                let url = require('../../img/' + productName.toString().toLocaleLowerCase() + '.png');
                console.log(url);
                return url;
            },
            increment() {
                this.$store.commit("increment", this.product.name)
            },
            decrement() {
                this.$store.commit("decrement", this.product.name)
            }
        }

    }
</script>

<style scoped>
    .product {
        background-color: yellow;
        width: 15em;
        height: 15em;
        margin: 0.5em;
        padding: 0.08em;
        border-radius: 1em;
    }
    .product-image {
        width: 5em;
        height: 5em;

    }
</style>