<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <p>Inscription</p>

            <form @submit.prevent="submit">

                <div class="form-group" :class="{ 'form-group--error': $v.firstname.$error }">
                    <label class="form__label">Prénom</label>
                    <label>
                        <input class="form__input" v-model.trim="$v.firstname.$model"/>
                    </label>
                </div>
                <div class="error" v-if="!$v.firstname.required && submitStatus === 'ERROR'">Le prénom est obligatoire.</div>

                <div class="form-group" :class="{ 'form-group--error': $v.lastname.$error }">
                    <label class="form__label">Nom</label>
                    <label>
                        <input class="form__input" v-model.trim="$v.lastname.$model"/>
                    </label>
                </div>
                <div class="error" v-if="!$v.lastname.required && submitStatus === 'ERROR'">Le nom est obligatoire.</div>

                <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
                    <label class="form__label">Addresse mail</label>
                    <label>
                        <input class="form__input" v-model.trim="$v.email.$model"/>
                    </label>
                </div>
                <div class="error" v-if="!$v.email.required && submitStatus === 'ERROR'">L'addresse mail est obligatoire.</div>
                <div class="error" v-if="!$v.email.email && submitStatus === 'ERROR'">L'addresse mail n'est pas au format correct.</div>

                <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
                    <label class="form__label">Mot de passe</label>
                    <label>
                        <input class="form__input" v-model.trim="$v.password.$model"/>
                    </label>
                </div>
                <div class="error" v-if="!$v.password.required && submitStatus === 'ERROR'">Le mot de passe est obligatoire.</div>
                <div class="error" v-if="!$v.password.minLength && submitStatus === 'ERROR'">Le mot de passe doit faire au moins 8 caractères.</div>

                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
        </div>
    </div>
</template>

<script>

    import { required, minLength, email} from 'vuelidate/lib/validators';
    import Navbar from "./Navbar";

    export default {
        name: "Registration",
        components: {Navbar},
        data() {
            return {
                firstname: "",
                lastname: "",
                email: "",
                password: "",
                submitStatus: null
            }
        },
        validations: {
            firstname: {
                required
            },
            lastname: {
                required
            },
            email: {
                required,
                email

            },
            password: {
                required,
                minLength: minLength(8)
            }
        },
        methods: {
            submit() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    this.$router.replace({name: "home"});
                }
            }
        }
    }
</script>

<style scoped>
    .error {
        color: red;
    }
</style>